#txtSearchList{
	width:40%;
}

.row {
	padding-top: 30px;
}

.moderatorsList td{
	padding-right:100px;
}

.moderatorsList{
	background:none;
	margin-bottom: 50px;
}

.btn-dock-down{
	float:right;
	bottom: -18px;
	position: relative;
}

.control-label {
	white-space: nowrap;
}

.term-description-container{

}

.section {
	padding-bottom: 20px;
	padding-top: 10px;
}

.add-new-dialog .col-lg-9{
	margin-bottom:25px;
}
