<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ODM2 CVs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="./css/bootswatch.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html" class="navbar-brand">ODM2 CVs</a>
        </div>
      </div>
    </div>

    <div class="container">
      <ol class="breadcrumb page-header">
        <li><a class="glyphicon glyphicon-home" href="index.html"> </a></li>
        <li><a href="vocabulary_list.html">Data TypeCV Values</a></li>
        <li><a href="vocabulary_detail.html">Data retrieval</a></li>
        <li class="active">Edit</li>
      </ol>
      <div class="row">
        <div class="col-lg-6">
          <div class="well add-new-dialog">
            <fieldset>
              <legend>Edit Term</legend>

              <label class="col-lg-3 control-label">Term</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" value="dataRetrieval">
              </div>

              <label class="col-lg-3 control-label">Name</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" value="Data retrieval">
              </div>

              <label class="col-lg-3 control-label">Definition</label>
              <div class="col-lg-9">
                <textarea class="form-control" rows="3" id="textArea" >A method for retrieving data from a datalogger deployed at a monitoring site.</textarea>
              </div>

              <label class="col-lg-3 control-label">Category</label>
              <div class="col-lg-9">
                <select class="form-control">
                  <option>Composite Sites</option>
                  <option>Aggregated Use Sites</option>
                  <option>Facility Sites</option>
                  <option>Atmospheric Sites</option>
                  <option>Surface Water Sites</option>
                  <option>Groundwater Sites</option>
                  <option>Land Sites</option>
                  <option>Water Infrastructure Sites</option>
                  <option>Geologic Sites</option>
                </select>
              </div>

              <label class="col-lg-3 control-label">Provenance</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" value="-">
              </div>

              <label class="col-lg-3 control-label">ProvenanceURI</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" value="dataretrieval">
              </div>

              <label class="col-lg-3 control-label">Note</label>
              <div class="col-lg-9">
                <textarea class="form-control" rows="3" id="textArea">The values are quantities that can be interpreted as constant for all time, or over the time interval to a subsequent measurement of the same variable at the same site.</textarea>
              </div>

            </fieldset>
            <a href="#" class="btn btn-default">Submit Changes</a>
          </div>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootswatch.js"></script>
  </body>
</html>

















































