{% extends 'cvinterface/base.html' %}

{% block body %}
    <div class="col-lg-12">
        <a id="btnAddNew" href="" class="btn btn-default btn-dock-down">New</a>

        <h2 class="divTitle">DataTypeCV Values</h2>

        <div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Term</th>
                    <th>Definition</th>
                </tr>
                </thead>
                <tbody>
                {% for vocabulary in object_list %}
                    <tr>
                        <td><a href="">{{ vocabulary.term }}</a></td>
                        <td>{{ vocabulary.definition }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}