<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ODM2 CVs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="./css/bootswatch.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="./index.html" class="navbar-brand">ODM2 CVs</a>
        </div>
      </div>
    </div>

    <div class="container">
      <ol class="breadcrumb page-header">
        <li><a class="glyphicon glyphicon-home" href="./index.html"> </a></li>
        <li><a href="./list.html">Data TypeCV Values</a></li>
        <li class="active">Data retrieval</li>
      </ol>
      <div class="row">
        <div class="col-lg-6">
          <div class="well term-description-container">
            <a id="btnEdit" href="./editterm.html" class="btn btn-default btn-dock-down"> Edit</a>
            <fieldset>
              <legend>Data retrieval</legend>
              
              <label class="col-lg-3 control-label">Term</label>
              <div class="col-lg-9"><p>dataRetrieval</p></div>

              <label class="col-lg-3 control-label">Definition</label>
              <div class="col-lg-9"><p>A method for retrieving data from a datalogger deployed at a monitoring site.</p></div>

              <label class="col-lg-3 control-label">Category</label>
              <div class="col-lg-9"><p>Equipment</p></div>

              <label class="col-lg-3 control-label">Provenance</label>
              <div class="col-lg-9"><p> - </p></div>

              <label class="col-lg-3 control-label">ProvenanceUri</label>
              <div class="col-lg-9"><p>dataretrieval</p></div>

              <label class="col-lg-3 control-label">Note</label>
              <div class="col-lg-9"><p>The values are quantities that can be interpreted as constant for all time, or over the time interval to a subsequent measurement of the same variable at the same site.</p></div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootswatch.js"></script>
  </body>
</html>

















































