{% extends 'cvinterface/base.html' %}

{% block body %}
    <div class="col-lg-6">
        <div class="well term-description-container">
            <a id="btnEdit" href="" class="btn btn-default btn-dock-down"> Edit</a>
            <fieldset>
                <legend>{{ object.name }}</legend>

                <label class="col-lg-3 control-label">Term</label>
                <div class="col-lg-9"><p>{{ object.term }}</p></div>

                <label class="col-lg-3 control-label">Definition</label>
                <div class="col-lg-9"><p>{{ object.definition }}</p></div>

                <label class="col-lg-3 control-label">Category</label>
                <div class="col-lg-9"><p>{{ object.category|default:"-" }}</p></div>

                <label class="col-lg-3 control-label">Provenance</label>
                <div class="col-lg-9"><p>{{ object.provenance|default:"-" }}</p></div>

                <label class="col-lg-3 control-label">ProvenanceUri</label>
                <div class="col-lg-9"><p>{{ object.provenanceuri|default:"-" }}</p></div>

                <label class="col-lg-3 control-label">Note</label>
                <div class="col-lg-9"><p>{{ object.note|default:"-" }}</p></div>

                {% if object.produces_result %}
                    <label class="col-lg-3 control-label">Produces Result</label>
                    <div class="col-lg-9"><p>{{ object.produces_result }}</p></div>
                {% endif %}
            </fieldset>
        </div>
    </div>
{% endblock %}










































