{% extends 'cvinterface/base.html' %}
{% load widget_tweaks %}

{% block body %}
    <div class="col-lg-6">
        <div class="well add-new-dialog">
            <fieldset>
                <legend>Request New Concept</legend>
                <form action="{% block success_url %}{% endblock %}" method="post">{% csrf_token %}
                    {% for field in form %}
                        {{ field.errors }}
                        <label class="col-lg-3 control-label" for={{ field.id_for_label }}>{{ field.label }}</label>
                        <div class="col-lg-9">{{ field|add_class:"form-control" }}</div>
                    {% endfor %}
                    <input class="btn btn-default" type="submit" value="Submit Request" />
                </form>
            </fieldset>
        </div>
    </div>
{% endblock %}