{% extends 'cvinterface/base.html' %}

{% block body %}
    <div class="col-lg-12">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        <h2 class="divTitle">Vocabulary Concept Requests</h2>
        <!-- TODO: only show pending requests when there are actual pending requests -->
        <div class="section" id="pendingRequests">
            <h4>Pending Requests</h4>
            {% block pending %}
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Term</th>
                        <th>Definition</th>
                        <th>Request Date</th>
                        <th>Submitter Name</th>
                        <th>Request Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for request, vocabulary in pending_requests %}
                        <tr>
                            <td><a href="#">{{ request.term }}</a></td>
                            <td>{{ request.definition }}</td>
                            <td>{{ request.date_submitted }}</td>
                            <td>{{ request.submitter_name }}</td>
                            <td>{{ vocabulary }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        </div>
        <div class="section" id="allRequests">
            <h4>All Concept Requests</h4>
            {% for request in requests %}
                <div class="col-md-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>{{ request.model_name }}</h3>
                            <p>{{ request.name }}</p>
                            <p><a href="{{ request.url }}" class="btn btn-default" role="button">View</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}